.vertical-center {
    min-height: 100%;
    min-height: 80vh;

    display: flex;
    align-items: center;
}
          
.my-container {
    width: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40!important;
  color: white;
  text-align: center;
}
